.sideBarOptions {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.sideBarOptions:hover {
    background-color: #9ac4ff;
    border-radius: 30px;
    color: var(--twitter-collor);
    transition: color 0.1s ease-out;
}
.sideBarOptions > .MuiSvgIcon-root {
    padding: 20px;
}
.sideBarOptions--active{
    color: var(--twitter-collor);
}
