.feed__home{
    flex: 0.4;
    min-width: fit-content;
    border-right: 1px solid #e4dbff;
    overflow-y: auto;
}
.feed__header{
    position: sticky;
    top: 0;
    background: white;
    z-index: 100;
    border-bottom: 3px solid #e4dbff;
    padding: 15px 20px;
}
