.tweetBox {
    border-bottom: 5px solid #e4dbff;
    padding-bottom: 10px;
    padding-right: 10px;
}

.tweetBox > form {
    /* 1.42*/
    padding: 20px;
    flex-direction: column;
}

.tweetBox__input {
    padding: 20px;
    display: flex;
}

.tweetBox__input > input {
    flex: 1;
    margin-left: 20px;
    font-size: 20px;
    border: 1px solid #e4dbff;
    border-radius: 10px;
}

.tweetBox__button_flex {
    display: flex;
    justify-content: flex-end;
}
.tweetBox__input_url{
    border: 1px solid #e4dbff;
    border-radius: 10px;
    padding-left: 20px;
    margin-left: 20px;
}
.tweetBox__button {
    background-color: var(--twitter-background) !important;
    border: none !important;
    color: white !important;
    font-weight: 900 !important;
    border-radius: 30px;
    width: 80px;
    height: 40px !important;
    /*margin-top: 20px !important;*/
    /*margin-left: auto !important;*/
}
